# Virtual environmentd
venv/
.venv/
__pycache__/
*.pyc

# Generated outputs — disposable
outputs/

# Training data — too large
dataset/train/noisy/*
dataset/train/clean/*
dataset/test/noisy/*
dataset/test/clean/*
dataset/raw/noisy/*
dataset/raw/clean/*
dataset/valid/noisy/*
dataset/valid/clean/*
!dataset/**/.gitkeep


!weights/*.weights.h5


LEARN